$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
$icon-size: 2em;

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
.card {
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 1em;
	height: 10em;
	width: 7em;
	margin: 0.5em;

	&.selected {
		-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
		-moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
		box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	}

	.icon {
		height: $icon-size;
		width: $icon-size;
		margin: 0.5em auto;
		&.color1 {
			background-color: red;
			border: 2px solid red;
		}
		&.color2 {
			background-color: blue;
			border: 2px solid blue;
		}
		&.color3 {
			background-color: green;
			border: 2px solid green;
		}

		&.shape1 {
		}
		&.shape2 {
			border-radius: ($icon-size/2);
		}
		&.shape3 {
			width: ($icon-size*2);
		}

		&.pattern1 {
		}
		&.pattern2 {
			background-color: transparent;
		}
		&.pattern3 {
			background-image: repeating-linear-gradient(45deg, #fff 0px, #fff 5px, transparent 5px, transparent 10px, #fff 10px);
		}
	}
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
	margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	text-align: center;
	border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
	margin: 40px 0;
}

.marketing p + h4 {
	margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}
