$icon-font-path: "/bower_components/bootstrap-sass/fonts/";
$screen-sm-min: 625px;
$screen-xs-max: 625px;
$container-sm: auto;

@import 'bootstrap-sass/lib/bootstrap';
$icon-size: 2em;

.container {
	min-width: 475px;
}

.card-container {
	@extend .col-sm-3;
	@extend .col-xs-4;
	&.selected {
		.card {
			-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
			-moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
			box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
		}
	}
}

.card {
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 1em;
	width: 100%;
	height: 7em;
	margin: 0.5em auto;
	padding: 2.25em 0.5em;
	text-align: center;
	float: left;

	.icon {
		height: $icon-size;
		width: $icon-size;
		margin: 0 auto;
		display: inline-block;
		&.color1 {
			background-color: red;
			border: 2px solid red;
		}
		&.color2 {
			background-color: blue;
			border: 2px solid blue;
		}
		&.color3 {
			background-color: green;
			border: 2px solid green;
		}

		&.shape1 {
		}
		&.shape2 {
			border-radius: ($icon-size/2);
		}
		&.shape3 {
			height: ($icon-size*.75);
			width: ($icon-size*.75);
			margin: 0.25em ($icon-size/6) 0;
			@include rotate(45deg);
		}

		&.pattern1 {
		}
		&.pattern2 {
			background-color: transparent;
		}
		&.pattern3 {
			background-image: repeating-linear-gradient(45deg, #fff 0px, #fff 5px, transparent 5px, transparent 10px, #fff 10px);
		}
	}
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}

	/* Remove the padding we set earlier */
	.header,
	.marketing,
	.footer {
		padding-left: 0;
		padding-right: 0;
	}
	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
	/* Remove the bottom border on the jumbotron for visual effect */
	.jumbotron {
		border-bottom: 0;
	}
}
